In [6]:
import pandas as pd

df = pd.read_csv('./data/sp500.csv')

df

     observation_date    SP500
0          2020-07-15  3226.56
1          2020-07-16  3215.57
2          2020-07-17  3224.73
3          2020-07-20  3251.84
4          2020-07-21  3257.30
...               ...      ...
1300       2025-07-09  6263.26
1301       2025-07-10  6280.46
1302       2025-07-11  6259.75
1303       2025-07-14  6268.56
1304       2025-07-15  6243.76

[1305 rows x 2 columns]